.paper-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paper-title {
  color: #2c3e50;
  font-size: 1.1rem;
}

.highlighted-text {
  background-color: #EEFFE8;
  color: #287916;
  font-weight: bold;
}

.item-box {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.paper-authors-year-venue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  color: #666;
  font-size: 0.95rem;
}

.paper-abstract {
  color: #555;
  line-height: 1.5;
  font-size: 0.95rem;
}

.abstract-expand {
  color: #086DB1;
  cursor: pointer;
  font-size: 0.9rem;
  display: inline-block;
  white-space: nowrap;
}

.abstract-expand:hover {
  text-decoration: underline;
}

.paper-urls-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-content: center;
}

.arxiv-button {
  display: flex;
  font-size: 13px;
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.semantic-scholar-button {
  display: flex;
  font-size: 13px;
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
